canvas {
    width:600px;
    height:600px;
    margin: 0 auto;
    display:block;
    background-color:gray;
}

body{
   /* background-color:black;*/
   background-size: cover;
   background-image: url(../img/fon1.jpg)  ;
}

.but{
    width:600px;
    margin:20px auto;
}